@{
    ViewBag.Title = "AboutMe";
}

<h2 style="padding: 12px 0px 18px 0px">My Biography</h2>
<h4>This is me</h4>


<div class="row" style="max-width: 100%">
    <div class="col-6" style="padding-top: 24px;">
        <pre> 
             Hi, my name is Dihan de Bod
            
   I am a Bcom Informatics Information Student at UP.

   I enjoy listening to music and playing video games. 
 I also struggle with coding but it gets better over time.

        </pre>
    </div>
    <div class="col-6 img-fluid" style="padding-top: 24px;">
        <img src="~/Media/AboutME/Dihan_de_bod.jpg" alt="Me" />
    </div>
</div>



