@{
    ViewBag.Title = "Files";
}

<h2>Document and their file types</h2>

<table class="table bg-secondary">
    <thead>
        <tr>
            <th>File Name</th>
            <th>Download</th>
            <th>Delete</th>
        </tr>
    </thead>


</table>

